[submodule "lib/DarkMatter"]
	path = lib/DarkMatter
	url = git@github.com:wesExpress/DarkMatter.git
[submodule "lib/cglm"]
	path = lib/cglm
	url = git@github.com:recp/cglm.git
[submodule "lib/box3d"]
	path = lib/box3d
	url = git@github.com:erincatto/box3d.git
